*{
    margin: 0;
    padding: 0;
    font-family:'open sans',sans-serif;

}
header{
    background-color: #122a57;
    height: 100px;
    display: flex;
    align-items: center;
    
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;

}

ul li a{
    text-decoration: none;

}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}